@import "neat/neat-helpers";

// Pre-Framework Imports/Overrides ------ //
// Grid Setup
$grid-columns: 12; // Total number of columns in the grid
$max-width: em(1488); // Max-width of the outer container

// Visual Grid Variables
$visual-grid: true; // Display the base grid
$visual-grid-color: #999;
$visual-grid-opacity: 0.1;

// Post-Framework Imports/Overrides ------ //
// Media Query Breakpoints
$mobile: new-breakpoint(max-width 550px 4); // Use a 4 column grid
$tablet: new-breakpoint(min-width 551px max-width 989px); 
$desktop: new-breakpoint(min-width 990px); // Use a 16 column grid

// Typography
$base-font-size: 24px;
$base-line-height: 1.5;

// Color
$mainLinkColor: hsla(0,75%,50%,1);
$thinBorderColor: #dadada;